{% load static %}
<html>

<head>
    <title>Форум</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class='head'>
        <h1 class='head_left'><a href="/">Форум студентов ЧГУ</a></h1>
        {% if user.is_authenticated %}
        <div class="head_right login">Привет, {{ user.username }} (<a href="{% url 'logout' %}">Выйти</a>)</div>

        {% else %}
        <div class="head_right login"><a href="{% url 'login' %}">Войти</a></div>
        {% endif %}
    </div>

    <div class="make_post"><a href="{% url 'post_new' %}"><span>&#9998; НАПИСАТЬ ПОСТ</span></a></div>
    
    {% block content %}
    {% endblock %}

</body>

</html>