{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="make_post"><a href="{% url 'post_edit' pk=post.pk %}">&#8635; РЕДАКТИРОВАТЬ ПОСТ</a></div>
{% endif %}
<div class="post">
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
</div>
<br>
<div class='comment_btn'><a class="make_post" href="{% url 'add_comment_to_post' pk=post.pk %}">Добавить комментарий</a>
</div>

<hr>
{% for comment in post.comments.all %}
<div class="comment">
    <div>Автор: <strong>{{ comment.author }}</strong></div>
    <div>{{ comment.text|linebreaks }}</div>
    <div class="date">{{ comment.created_date }}</div>
</div>
{% empty %}
<p>Коментариев нет:(</p>
{% endfor %}

{% endblock %}